@using System.Security.Claims;
@using System.Linq;
@{
    Layout = "~/Views/Shared/_Layout-Mizu.cshtml";
    ViewBag.Title = "WebPhone";

    string email = "", name = "";

    if (User.Identity.IsAuthenticated)
    {
        var user = User as ClaimsPrincipal;
        var claims = user.Claims.ToList();
        email = User.Identity.Name;
        name = claims.Where(x => x.Type.Equals("Name")).FirstOrDefault().Value;
}

    var ipAddress = ViewBag.IpAddress;

}

<style>
    #self {
        display: none !important;
    }

    .group_btns {
        width: 100%;
        float: left;
    }

        .group_btns .btn {
            padding: 6px 7.2px;
        }

    .left_btn {
        border-bottom-left-radius: 0;
    }

    .rgt_btn {
        border-bottom-right-radius: 0;
    }
</style>
<script type='text/javascript'>
    window.emailID = '@email';
    window.name = '@name';
    window.ipAddress = '@ipAddress';
</script>
<div class="dialpad-wraper" style="background-image:url(../../Scripts/Mizutech/images/3.png); background-size:cover; margin-top:50px;">
    <div class="dialpad-main">
        <!-- Modal -->
        <div id="myModal" z-index:2" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" >
            <div class="modal-dialog caller">
                <div class="modal-content" id="Call-Feedback-content">
                    <div class="incoming-pic"><img src="~/Scripts/Mizutech/images/caller-img.jpg" /></div>
                    <div class="incoming-left">
                        <h4 id="lblCallType"></h4>
                        <h3><p id="IncomingCallbody">2025806200</p></h3>
                        <label id="FullNameID">Jason More</label>
                    </div>
                    <div class="incoming-right">
                        <div class="animation"><img src="~/Scripts/Mizutech/images/incoming-call.gif" /></div>
                    </div>
                    <div class="callerfooter">
                        <div class="callertxt">
                            <span>Last Spoke : </span><label id="LastSpokeID">Yesterday</label>
                            <span>Last Sale Call : </span><label id="IsSaleCallID">False</label>
                            <span>RGUs Count : </span><label id="RGUsCountID">0</label>
                            <span>Total Talk Time : </span><label id="TotalTalkTimeID">00:32:15</label>
                            <span>Disposition : </span> <label id="DispositionTitleID">Test Call</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group_btns" role="group" aria-label="..."> <!--btn-group btn-group-justified-->
            <div class="btn-group" role="group">
                <!-- just copy this <section> and next script -->
                <button id="btnDialer" type="button" class="btn left_btn btn-primary"><i class="glyphicon glyphicon-earphone"></i> Dialer</button>
                <button id="btnChat" type="button" class="btn btn-success"><i class="glyphicon glyphicon-envelope"></i> Chat</button>
                <button id="share-screen" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-screenshot"></i><span style="font-size:11px"> Screen Share</span></button>
                <a id="btnLink" class="btn rgt_btn btn-link" href="javasript:void(0)" target="_blank"><i class="glyphicon glyphicon-link"></i> Link</a>
            </div>
            @*<div class="btn-group" role="group">
                    <button id="btnChat" type="button" class="btn btn-success"><i class="glyphicon glyphicon-envelope"></i> Chat</button>
                </div>
                <div class="btn-group" role="group">
                    <button id="share-screen" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-screenshot"></i><span style="font-size:11px"> Screen Share</span></button>
                </div>*@
        </div>

        <div id="dialerpad">
        <div class="top-box-div">
            <a id="InboundStatus" href="javascript:void(0)" onclick="Login()"><div class="top-box"><div class="top-box-icon"><img src="https://demov2.webdialer.com/images/inbound-icon.png" width="26" height="26" /></div>Login</div></a>
            <a id="OutboundStatus" href="javascript:void(0)"><div class="top-box"><div class="top-box-icon"><img src="https://demov2.webdialer.com/images/outbound-icon.png" width="26" height="26" /></div>Logout</div></a>
            <a id="AvailableStatus" href="javascript:void(0)" onclick="OffBreak()"><div class="top-box"><div class="top-box-icon"><img src="https://demov2.webdialer.com/images/available-icin.png" width="26" height="26" /></div>Wait</div></a>
            <a id="NotAvailableStatus" href="javascript:void(0)"><div class="top-box no-border"><div class="top-box-icon"><img src="https://demov2.webdialer.com/images/not-available-icin.png" width="26" height="26" /></div>Break</div></a>
        </div>
        <div class="phone-number-div">
            <div class="phone-number"><input name="" id="PhoneNumber" type="text" maxlength="15" /></div>
            <a id="removenumber" href="javascript:void(0)"><div class="delete-icon"><img src="https://demov2.webdialer.com/images/number-delete-icon.png" width="41" height="22" /></div></a>
        </div>
        <div class="digits-wraper">
            <ul>
                <li><a href="javascript:void(0)" onclick="SendDTMF('1');">1</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('2');">2</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('3');">3</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('4');">4</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('5');">5</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('6');">6</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('7');">7</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('8');">8</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('9');">9</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('*');" class="staricstyle">*</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('0');">0</a></li>
                <li><a href="javascript:void(0)" onclick="SendDTMF('#');">#</a></li>
            </ul>
            <audio id="dtmfsound0"><source src="~/Content/sound/DTMF0.ogg" type="audio/ogg"><source src="~/Content/sound/DTMF0.mp3" type="audio/mpeg"></audio>
        </div>
        <div class="btm-links-div">
            <ul>
                <li onclick="Consultancy();"><a id="Consultancy" href="javascript:void(0)"><span class="btm-icon"><img src="https://demov2.webdialer.com/images/consultancy-icon.png" width="35" height="26" /></span>Consultancy</a></li>
                <li onclick="Transfer();"><a id="Transfer" href="javascript:void(0)"><span class="btm-icon"><img src="https://demov2.webdialer.com/images/transfer-icon.png" width="35" height="26" /></span>Transfer</a></li>
                <li onclick="Cancel()"><a id="Cancel" href="javascript:void(0)"><span class="btm-icon"><img src="https://demov2.webdialer.com/images/cancel-icon.png" width="35" height="26" /></span>Cancel</a></li>
                <li onclick="Conference();"><a id="Conference" href="javascript:void(0)"><span class="btm-icon"><img src="https://demov2.webdialer.com/images/conference-icon.png" width="35" height="26" /></span>Conference</a></li>
                <li class="green-bg" id="IboundCall" onclick="Accept();"><a href="javascript:void(0)" onclick='call();'><span class="green-icon"><img src="https://demov2.webdialer.com/images/call-icon.png" width="35" height="26" /></span></a></li>
                <li class="green-bg" id="OutboundCall" onclick="Call()"><a href="javascript:void(0)" onclick='call();'><span class="green-icon"><img src="https://demov2.webdialer.com/images/call-icon.png" width="35" height="26" /></span></a></li>
                <li onclick="Toggle();"><a id="Toggle" href="javascript:void(0)"><span class="btm-icon"><img src="https://demov2.webdialer.com/images/toggle-icon.png" width="35" height="26" /></span>Toggle</a></li>
                <li><a id="Hold" href="javascript:void(0)"><span class="btm-icon"><img src="https://demov2.webdialer.com/images/hold-icon.png" width="35" height="26" /></span><span id="HoldButtonText">Hold</span></a></li>
                <li class="red-bg" onclick="Reject();"><a id="EndCall" href="javascript:void(0)"><span class="red-icon"><img src="https://demov2.webdialer.com/images/call-icon.png" width="35" height="26" /></span></a></li>
                <li><a id="Mute" href="javascript:void(0)"><span class="btm-icon"><img src="https://demov2.webdialer.com/images/mute-icon.png" width="35" height="26" /></span><span id="MuteButtonText">Mute</span></a></li>
            </ul>
        </div>
    </div>
        <div id="chat">
            <div class="container bootstrap snippet">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet portlet-default">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4><i class="fa fa-circle text-green"></i> <img src="/Content/DY6gND0.png" draggable="false" style="width:30px" /> <span id="receiverName"></span></h4>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div id="chat" class="panel-collapse collapse in">
                                <div>
                                    <div class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">
                                        <ol class="chat" style="overflow-y: auto;max-height: 300px;"></ol>                                    
                                    </div>
                                </div>
                                <div class="portlet-footer">
                                    <form role="form">
                                        <div class="form-group">
                                            <textarea id="message" class="form-control" placeholder="Enter message..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="btnSend" class="btn btn-default pull-right" onclick="sendMsg()">Send</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
            </div>
        </div>
    </div>

       <script src="~/Scripts/Mizutech/webphone_api.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/core/signalR/hubProvider.js"></script>
    @*<script>webphone_api.parameters.issdk = false;</script>*@
    <script>
        var serveraddress_input = "10.114.5.111:5060"
        var username_input = "5111";
        var password_input = "1234";
        var destination_input = document.getElementById('destnumber');
        document.getElementById('IboundCall').style.display = 'none';

        // document.getElementById('btn_hangup').disabled = true;
        //document.getElementById('icoming_call_layout').style.display = 'none';


        // Wait until the webphone is loaded, before calling any API functions
        // if automatic start is required, then webphone_api.start() should be called "onLoaded" event like this:
        //      webphone_api.onLoaded(function ()
        //      {
        //          webphone_api.start();
        //      });
        webphone_api.onLoaded(function () {
            var serveraddress = webphone_api.getparameter('serveraddress');
            if (serveraddress.length < 1) { serveraddress = webphone_api.getparameter('serveraddress_user'); } // only for demo
            var username = webphone_api.getparameter('username');
            var password = webphone_api.getparameter('password');
            var destination = webphone_api.getparameter('destination');

            if (serveraddress.length > 0) { serveraddress_input.value = serveraddress; }
            if (username.length > 0) { username_input.value = username; }
            if (password.length > 0) { password_input.value = password; }
            if (destination.length > 0) { destination_input.value = destination; }

            webphone_api.parameters['autostart'] = false;
        });

        function Start() {
            var serveraddress = serveraddress_input;
            var username = username_input;
            var password = password_input;
            var destination = destination_input;

            if (typeof (serveraddress) === 'undefined' || serveraddress === null || serveraddress.length < 1) { alert('Set a valid serveaddress.'); serveraddress_input.focus(); return; }
            if (typeof (username) === 'undefined' || username === null || username.length < 1) { alert('Set a valid username.'); username_input.focus(); return; }
            if (typeof (password) === 'undefined' || password === null || password.length < 1) { alert('Set a valid password.'); password_input.focus(); return; }

            if (typeof (serveraddress) !== 'undefined' && serveraddress !== null && serveraddress.length > 0) {
                webphone_api.setparameter('serveraddress', serveraddress);
            }
            webphone_api.setparameter('username', username);
            webphone_api.setparameter('password', password);
            webphone_api.setparameter('destination', destination);

            document.getElementById('events').innerHTML = 'EVENT, Initializing...';

            webphone_api.start();
        }

        function Call() {
            var destnr = document.getElementById('PhoneNumber').value;
            //document.getElementById('btn_hangup').disabled = false;
            if (typeof (destnr) === 'undefined' || destnr === null) { destnr = ''; }

            webphone_api.setparameter('destination', destnr);
            webphone_api.call(destnr);
        }

        function Login() {
            var destnr = "*1";
            if (typeof (destnr) === 'undefined' || destnr === null) { destnr = ''; }

            webphone_api.setparameter('destination', destnr);
            webphone_api.call(destnr);
        }

        function OffBreak() {
            var destnr = "*4";
            if (typeof (destnr) === 'undefined' || destnr === null) { destnr = ''; }

            webphone_api.setparameter('destination', destnr);
            webphone_api.call(destnr);
        }

        function Hangup() {
            webphone_api.setline(-2);
            webphone_api.hangup();
        }

        function Conference() {
            webphone_api.conference(document.getElementById('PhoneNumber').value, true);
        }

        function Consultancy() {
            //webphone_api.conference(document.getElementById('PhoneNumber').value, true);
            webphone_api.conference('2', false);
        }

        function Toggle() {
            webphone_api.conference('');
        }

        function Cancel() {
            setline(3); //select the third line
            hangup(); //will disconnect the third line
            //webphone_api.conference(document.getElementById('PhoneNumber').value,false);
        }

        function Accept() {
            //document.getElementById('icoming_call_layout').style.display = 'none';
            webphone_api.accept();
        }

        function Reject() {
            //document.getElementById('icoming_call_layout').style.display = 'none';
            webphone_api.reject();
        }

        function Mute() {
            //document.getElementById('icoming_call_layout').style.display = 'none';
            webphone_api.mute(true, 2);
        }

        function Hold() {
            //document.getElementById('icoming_call_layout').style.display = 'none';
            webphone_api.hold(true);
        }

        function Transfer() {
            //document.getElementById('icoming_call_layout').style.display = 'none';
            webphone_api.transfer(document.getElementById('PhoneNumber').value)
        }

        function SendDTMF(n) {
            //document.getElementById('icoming_call_layout').style.display = 'none';
            webphone_api.dtmf(n, -1);
            document.getElementById('dtmfsound0').play();
            if (document.getElementById('PhoneNumber').value.length < 12) {
                var inputString = document.getElementById('PhoneNumber').value;
                var shortenedString = inputString + n;
                document.getElementById('PhoneNumber').value = shortenedString;
            }
        }

        $("#Hold").click(function () {
            var src = ($("#Hold span img").attr('src') === 'https://demov2.webdialer.com/images/hold-icon.png')
                ? 'https://demov2.webdialer.com/images/resume-icon.png'
                : 'https://demov2.webdialer.com/images/hold-icon.png';
            $(this).attr('src', src);
            if (src == 'https://demov2.webdialer.com/images/hold-icon.png') {
                $("#HoldButtonText").text("Hold");
                webphone_api.hold(false);
            }
            else {
                $("#HoldButtonText").text("Resume");
                webphone_api.hold(true);
            }
            $("#Hold span img").attr("src", src);
        });
        $("#Mute").click(function () {
            var src = ($("#Mute span img").attr('src') === 'https://demov2.webdialer.com/images/mute-icon.png')
                ? 'https://demov2.webdialer.com/images/unmute-icon.png'
                : 'https://demov2.webdialer.com/images/mute-icon.png';
            $(this).attr('src', src);
            if (src == 'https://demov2.webdialer.com/images/mute-icon.png') {
                $("#MuteButtonText").text("Mute");
                webphone_api.mute(false, 0);
            }
            else {
                $("#MuteButtonText").text("Unmute");
                webphone_api.mute(true, 0);
            }
            $("#Mute span img").attr("src", src);
        });

        $("#InboundStatus").click(function () {
            $("#InboundStatus div").addClass("top-box-active");
            $("#OutboundStatus div").removeClass("top-box-active");
        });
        $("#OutboundStatus").click(function () {
            $("#InboundStatus div").removeClass("top-box-active");
            $("#OutboundStatus div").addClass("top-box-active");
        });

        $("#AvailableStatus").click(function () {
            $("#AvailableStatus div").addClass("top-box-active");
            $("#NotAvailableStatus div").removeClass("top-box-active");
        });
        $("#NotAvailableStatus").click(function () {
            $("#AvailableStatus div").removeClass("top-box-active");
            $("#NotAvailableStatus div").addClass("top-box-active");
        });
        webphone_api.getEvents(function (evt) {
            document.getElementById('events').innerHTML = evt;

            //ProcessEvents(evt);
        });

        $("#removenumber").click(function () {
            if ($('#phone_number').val().length > 0) {
                var inputString = $("#phone_number").val();
                var shortenedString = inputString.substr(0, (inputString.length - 1));
                $('#phone_number').val(shortenedString);
            }
        });

        $("#Consultancy").addClass("disbaleControl");
        $("#Cancel").addClass("disbaleControl");
        $("#Conference").addClass("disbaleControl");
        $("#Toggle").addClass("disbaleControl");

        webphone_api.onCallStateChange(function (event, direction, peername, peerdisplayname) {
            if (event === 'callSetup') {
                //document.getElementById('btn_hangup').disabled = false;

                if (direction == 1) {
                    // means it's outgoing call
                    document.getElementById('callerid').innerHTML = peername;
                    document.getElementById('TFN').innerHTML = peerdisplayname;
                }
                else if (direction == 2) {
                    // means it's icoming call
                    webphone_api.accept();
                    $('#myModal').modal('show');
                    document.getElementById('IncomingCallbody').innerHTML = "Call is coming from: " + peername;
                    //IncomingCallbody
                    document.getElementById('IboundCall').style.display = 'block';
                    document.getElementById('OutboundCall').style.display = 'none';
                    document.getElementById('callerid').innerHTML = peername;
                    document.getElementById('TFN').innerHTML = peerdisplayname.split('-')[1];
                }
            }

            //detecting the end of a call, even if it wasn't successfull
            if (event === 'callDisconnected') {
                document.getElementById('btn_hangup').disabled = true;
                document.getElementById('icoming_call_layout').style.display = 'none';
                document.getElementById('IboundCall').style.display = 'none';
                document.getElementById('OutboundCall').style.display = 'block';

            }
        });
        
        $(document).ready(function () {
            $("#InboundStatus").click();
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#btnDialer").click(function () {
                $("#dialerpad").show();
                $("#chat").hide();
            });
            $("#btnChat").click(function () {
                $("#chat").show();
                $("#dialerpad").hide();
                try {
                    setupChatHub();
                }
                catch (exception) {
                    console.log('error');
                }
            });
            $("#chat").hide();
            if(window.emailID!="")
            $('#receiverName').text(window.emailID.split('.')[0]);
            (function () {

                //var id = 'aisha.siddiqui@dgsworld.com';
                var userManager = "";
                $.ajax({
                    url: window.location.origin + '/api/v1/users/manager',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(window.emailID)
                }).success(function (data, status, config, headers) {
                    window.userManager = data[0];                  
                }).error(function (data, status, config, headers) {
                    window.userManager = null
                });
            })();


            //****SignalR related
            //****
            //*******************

            function onConnected() {
                return "Email=" + window.emailID + "&Name=" + window.name + '&Status=' + 'Login'; // hassaankhan@gmail.com
            }

            var hubConnection = "https://demov3connect.webdialer.com";

            var connection = $.hubConnection(hubConnection + '/signalr', { useDefaultPath: false, jsonp: true, transport: 'webSockets' });
            (function () {
                connection.qs = onConnected();
                window.communicationHub = connection.createHubProxy('DWDCommunicationHub');
                connection.start().done(function () {
                    console.log('Hub has started');

                    (function () {
                        window.communicationHub.invoke('newConnection');
                    })();

                    document.addEventListener("sendMessageToServer", function (e) {
                        window.communicationHub.invoke('sendMessage', e.detail);
                    }, false);

                });
            })();

            window.communicationHub.on('broadcastMessage', function (data) {
                messageReceivedFromServer(data);
            });

            window.communicationHub.on('newConnection', function (data) {

                // handle if required sometime else
            });

            function sendMessageToServer(senderName, message, recievername) {
                var e = new CustomEvent("sendMessageToServer", {
                    detail: {
                        senderName: senderName,
                        message: message,
                        recievername: recievername
                    }
                });
                document.dispatchEvent(e);
            }

            function messageReceivedFromServer(data) {
                var senderName = data.senderName;
                var receiverName = data.recievername;
                var message = data.message;
                var chat_show = $(".chat");
                if(senderName!=null || senderName!="")
                var formattedSenderName = senderName.split('.')[0];

                if (senderName == window.emailID) {
                    chat_show.append('<li class="self">' + '<div class="avatar">' + '<img src="/Content/HYcn9xO.png" draggable="false"/>' + '</div>' + '<div class="msg">' + '<p><strong>' + 'You&nbsp:&nbsp&nbsp&nbsp' + '</strong> ' + '&nbsp&nbsp' + message + '&nbsp&nbsp' + '</p>' + '&nbsp&nbsp' + '<time>20:18</time>' + '</div>');
                    return;
                }

                if (receiverName == window.emailID) {
                    chat_show.append('<li class="other">' + '<div class="avatar">' + '<img src="/Content/DY6gND0.png" draggable="false"/>' + '</div>' + '<div class="msg">' + '<p><strong>' + formattedSenderName + '&nbsp:&nbsp&nbsp&nbsp' + '</strong>' + message + '&nbsp&nbsp' + '</p>' + '&nbsp&nbsp' + '<time>20:18</time>' + '</div>');
                    return;
                }
            };

            $("#btnSend").on('click', function () {
                var message = $("#message").val();
                sendMessageToServer(window.emailID, message, window.userManager);
                $("#message").val("");
            });

            $('#message').on('keypress', function (e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13) {
                    var message = $("#message").val();
                    sendMessageToServer(window.emailID, message, window.userManager);
                    $("#message").val("");
                }
            });
                      
        });


    </script>

    @section scripts {

        <script>
            $(document).ready(function () {

                $('#share-screen').on('click', function () {

                    debugger
                    var strWindowFeatures = "location=yes,height=570,width=800,scrollbars=yes,status=yes";
                    var URL = window.location.origin + '/home/sceenshare';
                    var win = window.open(URL, "_blank", strWindowFeatures);

                });

            })
        </script>
    }
</div>

